<div class="formprod">

    <div class="testo" >
        <h1>GUIDA PER L'USO DEL PROGRAMMA</h1>

        <p>La barra di navigazione permette di muoversi attraverso le diverse funzioni fornite dal sito.</p><br>

        <p>Tramite la voce Inventario sarà possibile visualizzare a schermo tutti i prodotti presenti in magazzino</p><br>
        <p>con il dettaglio del costo, colore e taglia. Oltre alla campionatura presente</p><br>

        <p>Ogni voce presente sulla barra di navigazione consente di visualizzare i colori, le taglie ed i prodotti.</p><br>
        <p>Portando il cursore sul bottone è possibile accedere all'elenco ed inserire un nuovo valore.</p><br>

    </div>

</div>