<div class="formprod">

    <div class="testo" >
        <h2>Benvenuto nel programma di gestione dell'inventario.</h2><br />

       Utilizza la barra di navigazione per muoverti all'interno delle funzionalità e se hai difficoltà consulta
       la guida sotto la voce help

    </div>


    <div class="testo" >

    </div>


    <div class="testo">

    </div>

</div>